@import 'tailwindcss';
@source './layouts/**/*.html.twig';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  --color-secondary-50: var(--color-teal-50);
  --color-secondary-100: var(--color-teal-100);
  --color-secondary-200: var(--color-teal-200);
  --color-secondary-300: var(--color-teal-300);
  --color-secondary-400: var(--color-teal-400);
  --color-secondary-500: var(--color-teal-500);
  --color-secondary-600: var(--color-teal-600);
  --color-secondary-700: var(--color-teal-700);
  --color-secondary-800: var(--color-teal-800);
  --color-secondary-900: var(--color-teal-900);
  --color-secondary-950: var(--color-teal-950);
}

@layer base {
  html {
    @apply min-h-dvh text-lg;
  }
  /* background and text */
  body {
    @apply bg-primary-50 md:bg-secondary-200 dark:bg-primary-950 md:dark:bg-secondary-950;
  }
  body > div {
    @apply bg-primary-50 dark:bg-primary-950 text-primary-900 dark:text-primary-200;
  }
  /* links */
  a, button {
    @apply text-primary-900 dark:text-primary-50;
  }
  /* links hover */
  a:hover:not(.button), button:hover {
    @apply text-primary-700 dark:text-primary-200;
  }
}

@layer components {
  /* links buttons */
  .button {
    @apply bg-primary-50 text-primary-900 dark:bg-primary-950 dark:text-primary-50;
    @apply dark:brightness-90;
    @apply font-semibold;
    @apply border-2 border-primary-900;
    @apply rounded-md;
    @apply transition ease-in-out hover:scale-[102%] duration-300;
  }
}
